<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/baby"></ion-back-button>
          </ion-buttons>
      <ion-title>Birth Defects</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-label class = "text" >Club Foot<ion-checkbox class = "check" ></ion-checkbox> </ion-label>           
          <ion-img src="../assets/clubfoot2.jpg" class="pictures" ></ion-img>
   <br>
          <ion-label class = "text" >Cleft Lip or Palate
          <ion-checkbox class = "check"></ion-checkbox> </ion-label>           
          <ion-img src="../assets/mouth.jpg"  class="pictures"></ion-img>
          <ion-label class = "text">Spina Bifida<ion-checkbox class = "check" ></ion-checkbox> </ion-label>           
          <ion-img src="../assets/spin.jpg"  class="pictures"></ion-img>
          <ion-label class = "text">Congenital Heart Defects<ion-checkbox class = "check"></ion-checkbox> </ion-label>           
          <ion-img src="../assets/ACEP_0518_pg22b.png" class="pictures" ></ion-img>
          <ion-label class = "text">Down Syndrome<ion-checkbox class = "check"></ion-checkbox> </ion-label>           
          <ion-img src="../assets/down.jpg"  class="pictures"></ion-img>
  
  
         
          <div class = "box">
              <ion-input placeholder="Add additional information"></ion-input>
          </div>    
          <div class="range">
              <ion-label class="label">Rate child's health state</ion-label>
              <ion-range class="slider"></ion-range>
             </div>    
  
  <ion-button href="/updated" class="btn">
    Update
  </ion-button>
  
  