.check{
    float: right;
    text-align: right;
}
.infections{
    width: 150px;
}
.box{
    border: solid 1px black;
    width: 200px;
    margin: 40px;
}
.btn{
    text-align: center;
    margin-left: 150px;
}

.pictures{
    width: 150px;
    height: 100px;
    margin-left:150px;
}

.text{
    font-weight: bold;
}

.range {
    width: 320px;
    margin-left: 30px;
}