.babyButton {
    margin-top: 100px;
    margin-left: 120px;
    width: 150px;
}

.parentButton {
    margin-top: 80px;
    margin-left: 120px;
    width: 150px;
}

.charBox {
    margin-top: 80px;
    margin-left: 120px;
    width: 150px;
}