<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/users"></ion-back-button>
        </ion-buttons>
    <ion-title>martenal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button href="/mother-physical" class="physicalButton">Post-labour</ion-button>
    <br/>
    <ion-button href="/mother-conditions" class="psyButton">Pre-labour</ion-button>
    <br/>
    <ion-input type="file" class="otherButton" ></ion-input>
    <br/>
    <ion-button class="ChatBoxButton" href="/chat">Consult</ion-button>
</ion-content>
