.infectionsButton {
    margin-top: 70px;
    margin-left: 110px;
    width: 150px;
}

.defectsButton {
    margin-top: 40px;
    margin-left: 110px;
    width: 150px;
}
.otherButton {
    margin-top: 50px;
    margin-left: 110px;
    width: 150px;
    color: blue;
}
.ChatBoxButton {
    margin-top: 50px;
    margin-left: 110px;
    width: 150px;
}
