<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/users"></ion-back-button>
        </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-input class="first" value="Appointment with paedetrician"></ion-input>
</div>
<div>
  <ion-input class="second" value="Tuesday 03 Sep, VnA"></ion-input>
</div>
<div>
    <ion-input class="last" value="  ..."></ion-input>
  </div>
  <div>
    <ion-button class="SendButton">Send</ion-button>
  </div>
</ion-content>
