.first {
    margin-top: 220px;
    border: solid 1px black;
    width: 250px;
    border-radius: 15px;
    margin-left: 5px;
}

.second {
    border: solid 1px black;
    width: 250px;
    height: 80px;
    margin-left: 120px;
    border-radius: 15px;
    margin-top: 50px;
}

.last {
    border: solid 1px black;
    width: 250px;
    margin-top: 50px;
    border-radius: 15px;
    margin-left: 5px;
}

.SendButton {
    margin-top: 50px;
    float: right;
}