<ion-header>
  <ion-toolbar>
    <ion-title> Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container" >
    <ion-label class="label">Please enter your user name</ion-label>
    <br/><br/>
    <ion-input class="box" type="text"></ion-input>
  </div>
  
  <div class="container">
    <ion-label class="label">Please enter your passcode</ion-label>
    <br/><br/>
    <ion-input class="box" type="password" value=""></ion-input>
  </div>
  
  <div class="ProceedButton">
    <ion-button  class="ProceedButton" href="/users">Proceed</ion-button>
  </div>
  </ion-content>

