.label {
    font-size: 20px;
    margin-left: 105px;
}

.secondCont {
    margin-top: 20px;
}

.topCont {
    margin-top: 20px;
}
.conditionsBox {
  border: solid 1px black;
  width: 300px;
  margin-top:10px;
  margin-left: 35px;
}

.slider {
    width: 300px;
  margin-left: 35px;
}

.emptyDiv {
    height: 15px;
}

.forthCony {
    margin-top: 30px
}

.ContFive {
    margin-top: 10px
}

.btnUpdate {
    margin-top: 25px;
    margin-left: 150px;
    width: 100px;
}

.far {
    margin-top: 25px;
}

.pregStage {
    border: solid 1px black;
    width: 300px;
    margin-left: 40px;
}