<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/martenal"></ion-back-button>
          </ion-buttons>
      <ion-title>Pre-Care</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>  
    
    <div class="topCont">
     <ion-label class="label">pre-conditions? </ion-label>
     <ion-textarea class="conditionsBox"></ion-textarea>
    </div>

    <div class="secondCont">
     <ion-label class="label">Support needed? </ion-label>
     <ion-textarea class="conditionsBox"></ion-textarea>
    </div>
    <div class="far">
        <ion-label class="label"> Pregnancy weeks</ion-label>
        <ion-input class="pregStage"></ion-input>
       </div>
    <div class="forthCony">
     <ion-label class="label">Blood pressure </ion-label>
     <ion-range class="slider" ></ion-range>
    </div>
     
  <div class="ContFive">
     <ion-label class="label">Health state </ion-label>
     <ion-range class="slider"></ion-range>
    </div>
     
  
      <ion-button href="/updated" class ="btnUpdate" >
        Update
      </ion-button>
  </ion-content>
  