.appoButton {
    margin-top: 70px;
    margin-left: 110px;
    width: 150px;
}

.returnButton {
    margin-top: 70px;
    margin-left: 110px;
    width: 150px;
}
.home {
    margin-top: 70px;
    margin-left: 110px;
    width: 150px;
}
