.toggle{
    float: right;
//     margin-left: 0px;
    text-align: right;
//     padding: 10px;
}
.infections{
    width: 150px;
}
.box{
    border: solid 1px black;
    width: 300px;
    margin: 40px;
}
.btn{
    margin-top: 25px;
    margin-left: 150px;
    width: 100px;
}