.toggle{
    float: right;
    text-align: right;
}
.infections{
    width: 150px;
}
.box{
    border: solid 1px black;
    width: 300px;
    margin: 40px;
}
.btn{
    margin-left: 150px;

}
