<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/martenal"></ion-back-button>
          </ion-buttons>
      <ion-title>Assessments</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >  
      <ion-grid>
          <ion-row>
                <ion-col size="9" push="3" class= "toggle">
                      <div>
                          <ion-toggle color="secondary">Are</ion-toggle>
                      </div>
                    </ion-col>
                    <ion-col size="3" pull="9">
                      <div class="infections">
                       <p>Tried abortion</p> 
                      </div>
                    </ion-col>
                  </ion-row>
              </ion-grid>
      <ion-grid>
                  <ion-row>
                        <ion-col size="9" push="3" class= "toggle">
                              <div>
                                  <ion-toggle color="secondary">Are</ion-toggle>
                              </div>
                            </ion-col>
                            <ion-col size="3" pull="9">
                              <div class="infections">
                                  Postpartum bleeding
                              </div>
                            </ion-col>
                          </ion-row>
       </ion-grid>
       <ion-grid>
          <ion-row>
                <ion-col size="9" push="3" class= "toggle">
                      <div>
                          <ion-toggle color="secondary">Are</ion-toggle>
                      </div>
                    </ion-col>
                    <ion-col size="3" pull="9">
                      <div class="infections">
                          Postpartum infections
                      </div>
                    </ion-col>
                  </ion-row>
     
                  
        </ion-grid>
        <ion-grid>
            <ion-row>
                  <ion-col size="9" push="3" class= "toggle">
                        <div>
                            <ion-toggle color="secondary">Are</ion-toggle>
                        </div>
                      </ion-col>
                      <ion-col size="3" pull="9">
                        <div class="infections">
                         <p> Obstructed labour</p> 
                        </div>
                      </ion-col>
                    </ion-row>
                </ion-grid>
        <ion-grid>
            <ion-row>
                  <ion-col size="9" push="3" class= "toggle">
                        <div>
                            <ion-toggle color="secondary">Are</ion-toggle>
                        </div>
                      </ion-col>
                      <ion-col size="3" pull="9">
                        <div class="infections">
                         <p>Blood clots</p> 
                        </div>
                      </ion-col>
                    </ion-row>
                </ion-grid>
      <div class = "box">
          <ion-input placeholder="Add additional information"></ion-input>
      </div>          
     
  
      <ion-button href="/updated" class ="btn" >
        Update
      </ion-button>
  </ion-content>
  